<div id="view-directories" class="view active">
  <div class="sticky-view-header">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold">Select a Directory</h2>
      <button id="download-from-here-btn" class="btn btn-primary hidden">Download from Here</button>
    </div>
    <div class="search-container">
      <input type="text" id="search-directories" class="search-bar" placeholder="Search directories...">
      <span id="search-directories-clear" class="search-clear-btn">&times;</span>
    </div>
  </div>
  <div id="list-directories" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-2"></div>
</div>