@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.primary');
  color: theme('colors.secondary');
  overflow: hidden;
}

.view {
  display: none;
}

.view.active {
  display: block;
}

.hidden {
  display: none !important;
}

.list-item {
  @apply block w-full p-4 bg-neutral-800 border border-neutral-700 rounded-lg cursor-pointer hover:bg-neutral-700 hover:border-accent-500 focus:bg-neutral-700 focus:ring-2 focus:ring-accent-500 transition-all duration-200 shadow-md;
}

.list-item:focus {
  outline: none !important;
}

.btn {
  @apply px-4 py-2 rounded-lg font-semibold transition-all duration-200 shadow-md disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-accent-500 focus:ring-offset-2 focus:ring-offset-neutral-800;
}

.btn:focus {
  outline: none !important;
}

.btn-primary {
  @apply bg-accent-600 text-white hover:bg-accent-500;
}

.btn-success {
  @apply bg-success-600 text-white hover:bg-success-500;
}

.btn-danger {
  @apply bg-danger-600 text-white hover:bg-danger-500;
}

.btn-secondary {
  @apply bg-neutral-700 text-white hover:bg-neutral-600;
}

.btn-sm {
  @apply px-2 py-1 text-sm;
}

.btn-md {
  @apply px-3 py-1;
}

.search-bar {
  @apply w-full px-4 py-3 bg-neutral-900 border border-neutral-700 rounded-lg text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-accent-500;
}

.search-container {
  @apply relative;
}

.search-clear-btn {
  @apply absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-white font-bold cursor-pointer text-lg p-2;
}

.sticky-view-header {
  @apply sticky z-10 pt-6 pb-4 bg-primary -mx-8 px-8 top-0;
}

progress {
  @apply w-full h-3.5 rounded-full overflow-hidden;
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  @apply bg-neutral-700;
}

progress::-webkit-progress-value {
  @apply bg-success-500;
  transition: width 0.35s ease-out;
}

progress::-moz-progress-bar {
  @apply bg-success-500;
}

.list-group-item {
  @apply p-2 bg-neutral-700 rounded-md cursor-grab active:cursor-grabbing border border-transparent hover:border-accent-500 hover:bg-neutral-600 focus:outline-none focus:border-accent-500 focus:ring-2 focus:ring-accent-500;
}

.sortable-ghost {
  @apply bg-accent-500 opacity-50;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.neutral.800');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.neutral.700');
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.accent.500');
}

.footer {
  @apply text-center text-xs text-gray-500 p-4 border-t border-neutral-700 bg-neutral-800;
}

.footer-link {
  @apply text-accent-500 hover:text-accent-600 cursor-pointer;
}


input[type='checkbox'] {
  @apply rounded border-neutral-600 bg-neutral-700 text-accent-600 focus:ring-accent-500 focus:ring-offset-neutral-800 focus:outline-none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.loading-spinner-animation {
  @apply animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-accent-500;
}

.app-draggable-area {
  -webkit-app-region: drag;

}

#header-back-btn {
  -webkit-app-region: no-drag;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

#breadcrumbs span {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.control-btn {
  -webkit-app-region: no-drag;
  @apply h-full w-12 text-xl text-white transition-colors duration-100 leading-none flex items-center justify-center;
}

.action-btn {
  -webkit-app-region: no-drag;
  @apply h-full px-2 text-xl text-white transition-colors duration-100 leading-none flex items-center justify-center;
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}

#settings-btn.settings-open,
#settings-btn:hover {
  @apply text-accent-500;
}

#presets-btn.presets-open,
#presets-btn:hover {
  @apply text-accent-500;
}

.overlay-transition {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50;
  opacity: 0;
  pointer-events: none; /* Disable interaction when hidden */
  transition: opacity 300ms ease-in-out;
  backdrop-filter: blur(0);
  will-change: opacity;
}

.overlay-transition.open {
  opacity: 1;
  pointer-events: auto; /* Enable interaction when open */
  backdrop-filter: blur(4px);
}

.modal-transition {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transform: scale(0.95);
  opacity: 0;
  will-change: transform, opacity;
}

.modal-transition.open {
  transform: scale(1);
  opacity: 1;
}

.toggle-option {
  @apply transition-colors duration-200;
}

.toggle-option.active {
  @apply bg-accent-600;
}

.toggle-option:not(.active):hover {
  @apply bg-neutral-700;
}

.disabled-option {
  @apply opacity-50 cursor-not-allowed;
  pointer-events: none;
}

.force-no-opacity[disabled] {
  opacity: 1;
}

.toast {
  @apply rounded-lg p-4 text-white shadow-lg transition-opacity duration-300 ease-in-out opacity-0;
}

.toast.show {
  @apply opacity-100;
}

.toast-success {
  @apply bg-success-600;
}

.toast-error {
  @apply bg-danger-600;
}

.toast-close-btn {
  @apply ml-4;
}

.toast-close-icon {
  @apply h-5 w-5 cursor-pointer;
}

.toast-close-btn:hover {
  @apply opacity-70;
}

.string-filter-item {
  @apply flex items-center justify-between p-2 bg-neutral-700 rounded-md border border-transparent hover:bg-neutral-600 hover:border-accent-500 focus:outline-none focus:ring-2 focus:ring-accent-500;
}